p {
    /* background-color: blue; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.text-bold {
    font-weight: bold;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}
table {
    font-size: 12px;
}
table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
user agent stylesheet
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
body {
    font-size: 16px;
}
body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background-color: #fff;
}